@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    font-feature-settings: "ss01", "cv01";
  }

  table {
    font-variant-numeric: tabular-nums;
  }
}

@layer utilities {
  .tabular {
    font-variant-numeric: tabular-nums;
  }
}
